@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Esercitazione: Ricette di Consoli Christian</h1>
    <p><h1><a asp-page="/CRUD/Index">CRUD</a></h1></p>
</div>
